@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spacing */
.space-y {
  @apply space-y-24;
}

.space-y-sm {
  @apply space-y-12;
}

.space-y-xs {
  @apply space-y-4;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
